
html {
    background-color: Black;
}

h1, h2, h3, p {
  text-align: center;
  font-family: Verdana;
  }

h1 {
  background-position: center;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
  }

h2 {
  font-size: 42px;
  font-weight: 300;
  color: white;
}

h3 {
  font-size: 21px;
  color: Gray;
}

p {
  font-size: 16px;
  color: aquamarine;
}

img {
    display: block;
    border-radius: 8px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
}


.footnote {
  font-size: 21px;
  color: gray;
  text-align: right;
}
